.body-container{
    display: grid;
    grid-template-columns: 4fr 1fr;  
}
.yoga-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.yoga-container img{
    height: 200px;
    width: 320px;
    border-radius: 10px 10px 0 0;
}
.yoga-info{
    background-color: #D9F8C4;
    padding: 10px;
}
.name-address p{
    margin: 0;
}
.name-address h4{
    margin: 0;
}
.my-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
.yoga-img{
    height: 50px;  
}
.add-break{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px 10px ;
    
}
.btn-break{
    border: none;
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    font-weight: 500;
    
}
/* .add-break p{
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    font-weight: 500;
} */
.exercise-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 5px;
    padding: 0 10px;
}
.act-btn{
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #7f8b4b;
    padding: 15px 0;
    margin-top: 10px;
    font-weight: 700;
}

.qa-container{
    margin: 50px;
}

.qa{
    border: 1px solid #7f8b4b;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 992px){
    .body-container{
        display: grid;
        grid-template-columns: 2fr 1fr;  
    }
    .yoga-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} 
@media only screen and (max-width: 768px){
    .body-container{
        display: grid;
        grid-template-columns: 1fr;  
    }
    .yoga-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .yoga-container img {
        /* height: 200px; */
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
} 